In [9]:
import pandas as pd
import numpy as np

## State and Region Extraction

In [15]:
state_region = []
with open('university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            line = line.replace('[edit]','')
            line = line.replace('\n','')
            state = line
        else:
            region = line.split()[0]
            state_region.append([state,region])

In [18]:
df_state_region = pd.DataFrame(state_region,columns=['State','Region'])
df_state_region.head()

     State        Region
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [20]:
df_state_region['State'].nunique()

50